@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: 'Less';
    src: url('/assets/fonts/Less.otf');
}

@font-face {
    font-family: 'GlacialIndifference-Regular';
    src: url('/assets/fonts/GlacialIndifference-Regular.otf');
}

$font-stack: 'Montserrat', Helvetica, sans-serif;

// Color variables
$brand-color: #bb958c;
$primary-color: #ffffff;
$secondary-color: #F2BB00;

// Media Query Break Points
$break-small: 500px;
$break-large: 1024px;

%color-transition {
    color: $secondary-color;
    transition: color 0.2s ease-in-out;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font: 100% $font-stack;
    font-size: 1em;
    color: $primary-color;
    background-color: $brand-color;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;

    .wrapper {
        width: 100%;
        margin: auto;
        text-align: center;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: absolute;
    z-index: 999;
    top: 0%;
    right: 0%;
    left: 0%;

    @media screen and (max-width: $break-small) {
        flex-direction: column;
    }

    li { display: inline-block; }

    a {
        display: block;
        padding: 6px 12px;
        text-transform: lowercase;
        color: $primary-color;
    }

    a:hover {
        @extend %color-transition;
    }

    .current {
        @extend %color-transition;
    }

    #logo {
        width: 20%;
        min-width: 150px;
        img { width: 100%; }
    }
}

#home-wrapper {
    text-align: center;
    margin: auto !important;

    nav {
        top: 90%;
        bottom: 0%;

        #logo {
            display: none;
        }

        ul {
            margin: auto;
            padding: auto;
        }
    }

    img {
        width: 50%;
        min-width: 300px;
        margin-bottom: 3em;

        @media screen and (max-width: $break-small) {
            margin-bottom: 1em;
        }
    }

    #crossing-animation {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .part {
            position: absolute;
            @media screen and (max-width: $break-small) {
                position: relative;
            }
        }
        #left-line {
            border-bottom: 5px solid $primary-color;
            width: 0;
            left: 0%;
            opacity: 0.5;
            -webkit-animation: lineGetsWider 3s;
            -moz-animation:    lineGetsWider 3s; 
            -o-animation:      lineGetsWider 3s; 
            animation:         lineGetsWider 3s; 
            animation-fill-mode: forwards;

            @media screen and (max-width: $break-small) {
                border-bottom: 5px solid $primary-color;
            }
        }
        @keyframes lineGetsWider {
            100% {
                width: 50%;
            }
        }

        #right-text {
            text-align: left;
            right: 0%;
            width: 15%;
            opacity: 0;
            line-height: 0.5em;
            font-size: 1.2em;
            -webkit-animation: textAppearsAndSlides 3s;
            -moz-animation:    textAppearsAndSlides 3s; 
            -o-animation:      textAppearsAndSlides 3s; 
            animation:         textAppearsAndSlides 3s; 
            animation-fill-mode: forwards;

            @media screen and (max-width: $break-small) {
                line-height: 1em;
                text-align: center;
                margin: 1em;
                width: 90%;
            }
        }

        @keyframes textAppearsAndSlides {
            100% {
                opacity: 1;
                width: 49%;
            }
        }

        @media screen and (max-width: $break-small) {
            flex-direction: column;
            @keyframes lineGetsWider {
                100% {
                    width: 100%;
                }
            }
            
            @keyframes textAppearsAndSlides {
                100% {
                    opacity: 1;
                    width: 100%;
                }
            }
        }
    }
}

#works-wrapper {
    height: 100%;
    min-height: 100%;

    #works-content {
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        bottom: 0%;
        right: 0%;
        left: 0%;
        text-align: left;

        @media screen and (max-width: $break-small) {
            top: 20%;
            flex-direction: column;
        }
    }

    #works-info {
        flex: 1;
        padding: 1em;
        line-height: 1.5em;

        h2 {
            margin: 0;
        }

        p {
            line-height: 1.5em;
        }
    }

    #works-list {
        flex: 1;
        padding: 1em;
        text-align: right;

        li {
            margin: 8px 0;
    
            a {
                color: $primary-color;
                text-transform: lowercase;
                font-size: 1.5em;
            }

            a:hover {
                @extend %color-transition;
            }
        }

        li:first-child {
            margin: 0;
        }
    }
}

.slider-container {
    margin: auto;
    width: 80%;

    .slider {
        @media screen and (max-width: $break-small) {
            margin-top: 30px;
        }

        .slick-slide {
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            float:none;
            img {
                margin: auto;
                height: 75vh;

                @media screen and (max-width: $break-large) {
                    height: 45vh;
                }

                @media screen and (max-width: $break-small) {
                    height: auto;
                    width: 100%;
                }
            }
        }   
    }
}

.work-name:first-child {
    border: none;
}

.work-name {
    text-transform: lowercase;
    border-left: 1px solid white;
    padding: 6px 12px;
}

.work-name:hover {
    @extend %color-transition;
}

.active-filter {
    color: $secondary-color !important;
}

.active-filter::before {
    content: ' X ';
}

.client-name {
    padding: 6px 12px;
}

#footer {
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
    padding: 1em;
    text-align: center;

    p {
        font-size: 1em;

        @media screen and (max-width: $break-small) {
            font-size: 0.7em;
        }
    }
}

.hidden {
    display: none;
}

#clients-wrapper {
    height: auto;
}

#clients-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    width: 75%;
    margin: auto;

    @media screen and (max-width: $break-large) {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 150px;
        margin-bottom: 50px;
    }

    @media screen and (max-width: $break-small) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 2em;
    }

    div {
        width: 150px;
    }

    img {
        width: 100%;
        transition: all 0.25s ease-in-out;
    }

    img:hover{
        -webkit-filter: none; 
        filter: none;
    }

    .brightness {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
}

#contact-wrapper {
    height: 100%;
    min-height: 100%;

    @media screen and (max-width: $break-large) {
        margin-top: 150px;
    }

    main {
        height: 100%;
        min-height: 100%;

        div {
            height: 100%;
            min-height: 100%;
            width: 75%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            @media screen and (max-width: $break-large) {
                width: 90%;
                padding-top: 1em;
                flex-direction: column;
                justify-content: center;
            }

            iframe, p {
                width: 50%;
                padding: 1em;

                @media screen and (max-width: $break-large) {
                    width: 90%;
                    padding: 0;
                }
            }

            iframe {
                height: 50%;
                max-width: 600px;
                max-height: 450px;
            }

            p {
                text-align: left;
                font-size: 1.2em;

                @media screen and (max-width: $break-large) {
                    text-align: center;
                }

                @media screen and (max-width: $break-small) {
                    font-size: 1em;
                }
            }
        }
    }
}