@import 'reset';

$font-stack: Helvetica, sans-serif;
$brand-color: #BB958C;
$primary-color: #ffffff;
$secondary-color: #F2BB00;

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: $brand-color;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;

    li { display: inline-block; }

    a {
        display: block;
        padding: 6px 12px;
        text-transform: lowercase;
        color: $primary-color;
    }

    %color-transition {
        color: $secondary-color;
        transition: color 0.2s ease-in-out;
    }

    a:hover {
        @extend %color-transition;
    }

    .current {
        @extend %color-transition;
    }
}

#home-wrapper {
    text-align: center;

    nav {
        display: none;
    }

    img {
        min-width: 500px;
        width: 50%;
    }
}

.slider-container {
    margin: auto;
    width: 90%;

    .slider {
        .slick-slide {
            text-align: center;
            img {
                margin: auto;
                width: 500px;
            }
        }   
    }
}

#footer {
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
    padding: 1em;
    text-align: center;
}