---
layout: default
---
<div class="slider-container fadeIn animated">
    <div class="slider">
        {% for slide in site.data.slides %}
            {% if slide.client == page.short_name %}
                <div class="{{ slide.work }}"><img data-client="{{ slide.work }}" src="{{ slide.src }}" alt=""></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div id="footer">
    <p>
        {% for work in page.works %}
            <a href="#{{work}}" data-work="{{work}}" class="work-name">{{work}}</a>
        {% endfor %}
        <span>&gt;</span> 
        <span class="client-name">{{ page.name }}</span>
    </p>
</div>