---
layout: default
---
<span class="client-name" style="letter-spacing: 4px; display: block;">{{ page.name }}</span>
<div class="slider-container fadeIn animated">
    <div class="slider">
        {% for slide in site.data.slides %}
            {% if slide.client == page.short_name %}
                <div class="{{ slide.work }}"><img data-client="{{ slide.work }}" data-lazy="{{ slide.src }}" alt=""></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div id="footer">
    {% for work in page.works %}
        <a href="#{{work}}" data-work="{{work}}" class="work-name">{{work}}</a>
    {% endfor %}
</div>