---
layout: default
---
<div class="slider-container fadeIn animated">
    <div class="slider">
        {% for slide in site.data.slides %}
            {% if slide.client == page.short_name %}
                <div class="{{ slide.work }}"><img data-client="{{ slide.work }}" data-lazy="{{ slide.src }}" alt=""></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div id="client-footer" class="footer">
    <div style="margin:0.6em;"><span class="client-name">{{ page.name }}</span></div>
    <div>
    {% for work in page.works %}
        <a href="#{{work}}" data-work="{{work}}" class="work-name">{{work}}</a>
    {% endfor %}
    </div>
</div>