---
layout: default
---
<div class="slider-container fadeIn animated">
    <div class="slider">
        {% for slide in site.data.slides %}
            {% if slide.work == page.short_name %}
                <div><img data-client="{{ slide.client }}" data-lazy="{{ slide.src }}" alt=""></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="footer">
    <p>
        <span class="work-name">{{ page.name }}</span>
        <span>&gt;</span> 
        <span id="client-name-in-works" class="client-name"></span>
    </p>
</div>